@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background: rgba(252, 245, 229, 1);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  color: #212121;
  overflow-x: hidden;
}

.logo-container {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.625rem;
}

.logo {
  text-decoration: none;
  color: #212121;
}

.logo-text {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-size: 1.25rem;
<<<<<<< HEAD
  letter-spacing: 4px;
=======
  letter-spacing: 0.25rem;
>>>>>>> 9807ebca1b667229eb4ef50ecf7dc303d2d5f4ff
  text-transform: uppercase;
}

.banner {
  background: rgba(252, 245, 229, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
<<<<<<< HEAD
  padding: 30px 0 20px;
  gap: 2rem;
=======
  padding: 1.875rem 0 1.25rem;
>>>>>>> 9807ebca1b667229eb4ef50ecf7dc303d2d5f4ff
  max-width: 95%;
  margin: 0 auto;
  border-bottom: 1px solid #21212166;
}

.avatar-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.25rem;
}

.avatar-img {
  width: 11.875rem;
  height: 11.875rem;
  border-radius: 0.625rem;
  object-fit: fill;
}

.properties {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  gap: 0.75rem;
  height: 11.875rem;
}

.details {
  display: flex;
  flex-direction: column;
}

.name {
  max-width: 26.25rem;
  font-weight: 500;
  font-size: 2rem;
  /* text-align: center; */
  color: #212121;
  margin-bottom: 0.5rem;
}

.description {
  font-weight: 500;
  font-size: 1rem;
  color: rgba(33, 33, 33, 0.7);
  margin-bottom: 0.5rem;
}
.profileBio {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 450px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.edit-button {
  width: fit-content;
  background-color: transparent;
  color: #212121;
  opacity: 0.7;
}

.edit-button:hover,
.edit-button:active {
  opacity: 1;
}

.post-button {
  background-color: #212121;
  color: #fcf5e5;
  padding: 0.625rem 1rem;
  border-radius: 4px;
  padding: 1rem;
  min-width: 10%;
}

.post-button:hover,
.post-button:active {
  background: #212121cc;
}

dialog {
  display: none;
  position: fixed;
  top: 30%;
  left: 35%;
  padding: 20px;
  /* min-height: 20%; */
  cursor: pointer;

  & .dialogContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & input {
      min-width: 100%;
      min-height: 1.7rem;
      border: 2px solid #212121cc;
      border-radius: 0.5rem;
      padding: 0 0.5rem;
    }

    & input[type="file"] {
      border: none;
      border-radius: 0;
    }

    & textarea {
      min-width: 100%;
      min-height: 1.7rem;
      border: 2px solid #212121cc;
      border-radius: 0.5rem;
      padding: 0.5rem;
    }
  }
  & button {
    background-color: #212121;
    color: #fcf5e5;
    padding: 0.625rem 1rem;
    border-radius: 8px;
    padding: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

/* main */
.main {
  max-width: 95%;
  margin: 0 auto;
}

/* The container holding the cards */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem 1.3rem;
  padding: 1.25rem 0 2.5rem;
  width: 100%;
  border-bottom: 1px solid #21212166;
}

.card-img-container {
  width: 100%;
  max-height: 26.25rem;
  height: 100%;
  border-radius: 0.625rem;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-description {
  display: flex;
  justify-content: space-between;
  gap: 0.3125rem;
  padding-top: 1rem;
}

.card-title {
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.25rem;
}

.like-icon {
  max-width: 1.4375rem;
  width: 100%;
  color: #212121;
  cursor: pointer;
  /* opacity: 0.4; */ 
  /* transition: all 0.2s ease-in-out; */ 
}

.like-icon:hover {
  opacity: 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* Media queries styling for small Laptop Screens (up to 1024px wide) */
@media (max-width: 64rem) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

/* Tablets (up to 768px wide) */
@media (max-width: 48rem) {
  .banner {
    max-width: 90%;
  }

  .avatar-img {
    width: 10rem;
    height: 10rem;
  }

  .main {
    max-width: 90%;
  }

  .container {
    grid-template-columns: 1fr;
  }

  dialog {
    left: 25%;
    top: 30%;
  }
  .post-button {
    min-width: 20%;
  }
}

/* Media query for 620px */
@media (max-width: 38.75rem) {
  .banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .avatar-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .properties {
    align-items: center;
    height: auto;
    gap: 1.5rem;
  }

  .details {
    align-items: center;
  }

  .post-button {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
  }
}

/* 480px */
@media (max-width: 30rem) {
  .banner {
    padding-bottom: 1.8rem;
  }
  .avatar-img {
    width: 7rem;
    height: 7rem;
  }

  .name {
    font-size: 1.25rem;
  }

  .description {
    font-size: 1rem;
    padding: 0 2.2rem;
  }

  .card-img-container {
    max-height: 18rem;
  }

  .footer {
    padding: 1.5rem;
  }
  dialog {
    left: 15%;
    top: 40%;
    max-width: 60%;
    max-height: 80%;

    & .dialog-container {
      gap: 0.2rem;

      & input {
        min-width: 70%;
      }
      & textarea {
        min-width: 70%;
      }
    }
  }
}

/* 342.4px */
@media (max-width: 21.4rem) {
  .card-img-container {
    max-height: 15rem;
  }
}

/* Elinah's contribution */
/* Media queries styling for small Laptop Screens (up to 1024px wide) */
@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  /* .banner {
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    gap: 1.5rem;
    padding: 20px 0;
  } */

  .avatar-section {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .avatar-img {
    width: 160px;
    height: 160px;
  }

  .properties {
    height: auto;
    justify-content: center;
  }

  .name {
    font-size: 1.75rem;
  }

  .description {
    font-size: 0.95rem;
  }
}

/* Tablets (up to 768px wide) */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  /* .banner {
    flex-direction: column;
    text-align: left;
    gap: 1rem;
  } */

  .avatar-section {
    flex-direction: column;
    align-items: center;
  }

  .avatar-img {
    width: 140px;
    height: 140px;
  }

  .properties {
    align-items: center;
    text-align: center;
  }

  .name {
    font-size: 1.5rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .button {
    margin-top: 1rem;
  }
}

