@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
    padding-top: 46px;
  background: rgba(252, 245, 229, 1);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav.header {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 46px;
  left: 0px;
  top: 0px;
}

header {
  background: rgba(252, 245, 229, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px 80px 20px;
  gap: 2rem;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  flex-wrap: wrap;
}

.avatar-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.25rem;
}

#pic{
  width: 190px;
  height: 190px;
  border-radius: 10px;
  object-fit: fill;
}

.properties{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 0.75rem;
  width: 420px;
  height: 190px;
}

.details{
display: flex;
flex-direction: column;
}

.name{
  width: 420px;
  font-weight: 500;
  font-size: 2rem;
  color: #212121;
  margin: 0;
  padding: 0;
  line-height: 100%;
  margin-bottom: 8px;
}

.description{
  font-weight: 500;
  font-size: 1rem;
  color: rgba(33, 33, 33, 0.7);
  margin-bottom: 8px;
}

.profile{
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-weight: 500;
  font-size: 1rem;
  color: rgba(33, 33, 33, 0.7);
  text-decoration: none;
}

.profile img{
  width: 18px;
  height: auto;
}

.button button {
  background-color: #212121;
  color: white;
  border: none;
  padding:  0.625rem 1rem;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.button img {
  width: 12px;
  height: auto;
}

.footer {
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  color: rgba(33, 33, 33, 0.7);
}